<div class="row">
	<div class="12 columns">
		<h1>Editing genre</h1>

		<%= render 'form' %>

		<div class='row display'>
			<div class="large-11 columns">
				<%= link_to 'Show', @genre, class: "button small"  %> |
				<%= link_to 'Back', genres_path, class: "button small"  %>
			</div>
		</div>
	</div>
</div>
