<div class='row'>
	<div class='12 columns'>
		<%= render "shared/smoke_break" %>
	</div>
</div>
<div class='row'>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Smoke Breaks</h4>
			<ul>
				<% @last_five_smoke_breaks.each do |smoke_break| %>
					<li><%= smoke_break.recorded_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %e - %I:%M%p") %></li>
				<% end%>
			</ul>
		</div>
	</div>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Coffee Breaks</h4>
			<ul>
				<% @last_five_coffee_breaks.each do |coffee_intakes| %>
					<li><%= coffee_intakes.recorded_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %e - %I:%M%p") %></li>
				<% end%>
			</ul>
		</div>
	</div>
	<div class='small-12 large-4 columns'>
		<div class='panel'>
			<h4>Drinks</h4>
			<ul>
				<% @last_five_drinks.each do |drinks| %>
					<li><%= drinks.recorded_time.in_time_zone("Pacific Time (US & Canada)").strftime("%B %e - %I:%M%p") %></li>
				<% end%>
			</ul>
		</div>
	</div>
</div>