<div class="row">
	<div class="12 columns">
		<h1>Editing book</h1>

		<%= render 'form' %>

		<div class='row display'>
			<div class="large-11 columns">
				<%= link_to 'Show', @book, class: "button small" %>|
				<%= link_to 'Back', books_path, class: "button small"  %>
			</div>
		</div>
	</div>
</div>
