<div class="row">
	<div class="12 columns">
		<h1>Editing grocery</h1>

		<%= render 'form' %>

		<div class='row display'>
			<div class="large-11 columns">
				<%= link_to 'Show', @grocery %> |
				<%= link_to 'Back', groceries_path %>
			</div>
		</div>
	</div>
</div>
