label { display: none; }

label.checkbox { display: inline; }
<<<<<<< HEAD

input.button.small[type="submit"]{
	margin-top: 10px;
}

a.post-form-back-link {
	position: relative;
	left: 0px;
}

a.current:hover {
	background-color: #E4E4E4;
}
=======
>>>>>>> 8c5f521ce76322f87c0575370a6dec60d4094501
