<div class="row">
	<h1>Editing category</h1>
	<div class="12 columns">

		<%= render 'form' %>

		<div class='row display'>
			<div class="large-11 columns">
				<%= link_to 'Show', @category %> |
				<%= link_to 'Back', categories_path %>
			</div>
		</div>
	</div>
</div>

